/* CSS Document */
@font-face {
  font-family: roboto;
  src: url('../font/Roboto-Regular.ttf');
}

html,body{
	cursor: url('../images/pointer.svg'), auto;
	padding:0;
	margin:0;
	font-family:roboto;
}
header{
 text-align:left;
 background-color:378FE7;
 font-size:20px;
 padding:10px;
}

.topnavbar{
background-color:378FE7;
display:inline-block;
font-size:15px;
width: 80%;
text-align: end;
}
.desktop{
position: relative;
width: 1440px;
height: 1024px;
}

.logo{
display:inline-block;
color:white;
width:15%;
font-size:20px;
font-weight:bold;
}

.topnavbar a{
text-decoration:none;
padding-left:10px;
padding-right:10px;
color:white;
font-weight:bold;
}
#github{
position: absolute;
left: 8.33%;
right: 10.42%;
top: 4.06%;
bottom: 8.33%;
solid:#FFFFFF;
border:2px;
text-align:right
}
.linkedin{
position:absolute;
solid:#FFFFFF;
border:2px;
}
.facebook{
position:absolute;
solid:#FFFFFF;
border:2px;
}
.youtube{
position:absolute;
solid:#FFFFFF;
border:2px;
}
.section{
color:#000000;
text-align: right;
padding: 100px;
width:50%;
}
.logo1{
float:right
text-align:center;
font-family:roboto;
font-size:70px;
line-height:80px;
font-weight:bold;
width:300px;
height:100px;
top:120px;
left:1000px;
}
.img{
width: 750px;
height: 300px;
left: 207px;
top: 103px;
}
a:hover {
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: inset 0px 2px 15px white;
    border-radius: 5px;
}
#square1{
position: absolute;
width: 193px;
height: 189px;
left: 184px;
top: 478px;
background: #C4C4C4;
border-radius: 5px;
}
#square2{
position: absolute;
width: 193px;
height: 189px;
left: 477px;
top: 478px;
background: #C4C4C4;
border-radius: 5px;
}
#square3{
position: absolute;
width: 193px;
height: 189px;
left: 770px;
top: 478px;
background: #C4C4C4;
border-radius: 5px;
}
#square4{
position: absolute;
width: 193px;
height: 189px;
left: 1063px;
top: 478px;
background: #C4C4C4;
border-radius: 5px
}

footer{
 position: absolute;
width: 1440px;
height: 37px;
left: 0px;
top: 987px;
background: #378FE7;
text-align:center
}

.bottomnav{
text-align:center
background-color:378FE7;
display:inline-block;
font-size:15px;
width:50%;
}
.logo2{
display:inline-block;
color:white;
width:50%;
font-size:15px;
font-weight:bold;
font-family:roboto;
text-align:center;
}

