/* CSS Document */
@font-face {
  font-family: roboto;
  src: url('../font/Roboto-Regular.ttf');
}

html,body{
	cursor: url('../images/pointer.svg'), auto;
	padding:0;
	margin:0;
	font-family:roboto;
}
header{
 text-align:left;
 background-color:378FE7;
 font-size:20px;
 padding:10px;
}

.topnavbar{
background-color:378FE7;
display:inline-block;
font-size:15px;
width: 80%;
text-align: end;
}

.logo{
display:inline-block;
color:white;
width:15%;
font-size:20px;
font-weight:bold;
}

.topnavbar a{
text-decoration:none;
padding-left:10px;
padding-right:10px;
color:white;
font-weight:bold;
}
.github{
position:absolute;
solid:#FFFFFF;
border:2px;
}
.linkedin{
position:absolute;
solid:#FFFFFF;
border:2px;
}
.facebook{
position:absolute;
solid:#FFFFFF;
border:2px;
}
.youtube{
position:absolute;
solid:#FFFFFF;
border:2px;
}
.section{
color:#000000;
text-align: right;
padding: 100px;
width:50%;
}
.logo1{
float:right;
text-align:center;
font-family:roboto;
font-size:72px;
line-height:82.38px;
font-weight:bold;
width:50%;
padding:40px;
}
.img{
position: absolute;
width: 399px;
height: 266px;
left: 207px;
top: 103px;
margin:40px;

}
a:hover {
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: inset 0px 2px 15px white;
    border-radius: 5px;
}
#container {
  height: 125px;
  text-align: justify;
  min-width: 600px;
}
#container div {
 width: 100px;
height: 100px;
left: 500px;
top:200px;
  display: inline-block;
  background: #C4C4C4;
 border-radius: 5px;
  
}
#container:after {
  content: '';
  width: 100%; 
  display: inline-block;
}
footer{
 background-color:378FE7;
 font-size:10px;
 padding:10px;
 margin-bottom:0px;
 text-align:center;
}

.bottomnav{
text-align:center
background-color:378FE7;
display:inline-block;
font-size:15px;
width:50%;
}
.logo2{
display:inline-block;
color:white;
width:50%;
font-size:15px;
font-weight:bold;
font-family:roboto;
text-align:center;
}

