/* CSS Document */
@font-face {
  font-family: roboto;
  src: url('../font/Roboto-Regular.ttf');
}

html,body{
	cursor: url('../images/pointer.svg'), auto;
	padding:0;
	margin:0;
	font-family:roboto;
	width:100%;
}
header{
 text-align:left;
 background-color:378FE7;
 font-size:20px;
 padding:10px;
}
.topnavbar{
background-color:378FE7;
display:inline-block;
font-size:15px;
width: 80%;
text-align: end;
}
.text{
display:inline-block;
color:white;
width:15%;
font-size:20px;
font-weight:bold;
}
.topnavbar a{
text-decoration:none;
padding-left:10px;
padding-right:10px;
color:white;
font-weight:bold;
}
.topnavbar a img{
height:20px;
vertical-align:bottom;
}
.section{color:#000000;
text-align: center;
}
.text1{
font-family:roboto;
font-size:60px;
line-height:100px;
font-weight:bold;
width:48%;
height:100px;
padding-top:50px;
padding-right:50px;
display:inline-block;
vertical-align: top;
}
.separator{
margin-left:20px;
margin-right:20px;
display: inline-block;
width: 8px;
height: 18px;
vertical-align: bottom;
background-size: cover;
}
.icons{
width:8px;
height:18px;
margin-right:5px;
margin-left:5px;
display: inline-block;
vertical-align:bottom;
padding-left:5px !important;
padding-right:5px  !important;
Background-size: cover;
}
.github{
background-image:url(../images/github.svg);
}
.github:hover,
.github:focus{
background-image:url(../images/github_selected.svg);
}
.linkedin{
background-image:url(../images/linkedin.svg);
}
.linkedin:hover,
.linkedin:focus{
background-image:url(../images/linkedin_selected.svg);
}
.facebook{
background-image:url(../images/facebook.svg);
}
.facebook:hover,
.facebook:focus{
background-image:url(../images/facebook_selected.svg);
}
.youtube{
background-image:url(../images/youtube.svg);
}
.youtube:hover,
.youtube:focus{
background-image:url(../images/youtube_selected.svg);
}
.img{
width:48%;
height: 300px;
padding-top:50px;
display:inline-block;
}
a:hover {
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: inset 0px 2px 15px white;
    border-radius: 5px;
}
#square{
position:relative;
width: 20%;
height: 175px;
background: #C4C4C4;
border-radius: 5px;
display:inline-block;
margin:15px;
background: url(../images/img1.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-color: #C4C4C4;
vertical-align:top;
color:#FFFFFF;
font-weight:bold;
font-size:1.1em;
}
#square p{
	color: black;
    position: absolute;
    mix-blend-mode: screen;
    border: 1px solid black;
    background: white;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    bottom: 0;
    right: 0;
    margin: 0;
}

footer{
position: relative;
width:100%;
background: #378FE7;
text-align:center;
line-height:2.1em;
font-weight:bold;
color:#FFFFFF;
}
.bottomnav{
text-align:center
background-color:378FE7;
display:inline-block;
font-size:15px;
width:50%;
}
.logo2{
display:inline-block;
color:white;
width:50%;
font-size:15px;
font-weight:bold;
font-family:roboto;
text-align:center;
}

